<div class="header-container">
  <div class="header">Articles</div>
  <div class="subtext">View and manage all articles</div>
  <button><%= link_to 'New Article', new_article_path %></button>
</div>
<div class="articles">
  <div class="articles-label">
    <p>Article Title</p>
  </div>
  <% @articles.each do |article| %>
    <div class="article">
      <p>
        <%= article.title %>
      </p>
      <%= link_to 'View', article %>
    </div>
  <% end %>
</div>
<div class="spacing"></div>
