<div class="header-container">
  <div class="header">Articles</div>
  <div class="subtext">
    <% if @articles.length == 1 %>
      <%= "#{@articles.length} article" %>
    <% else %>
      <%= "#{@articles.length} articles" %>
    <% end %>
  </div>
  <button><%= link_to 'New Article', new_article_path %></button>
</div>
<div class="articles">
  <div class="articles-label">
    <p>Article Title</p>
  </div>
  <%= render @articles %>
</div>
<div class="spacing"></div>
