<div class="back">
  <span class="material-icons">keyboard_arrow_left</span>
  <%= link_to 'Back', articles_path %>
</div>
<div class="header-container">
  <div class="header">New Article</div>
  <div class="subtext">Create a new article</div>
</div>
<%= render 'form', article: @article %>
<div class="spacing"></div>
