/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: CircularStd-Black;
  src: url(CircularStd-Black.otf);
}

@font-face {
  font-family: CircularStd-Bold;
  src: url(CircularStd-Bold.otf);
}

@font-face {
  font-family: CircularStd-Book;
  src: url(CircularStd-Book.otf);
}

@font-face {
  font-family: CircularStd-Medium;
  src: url(CircularStd-Medium.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input[type='submit'] {
  background-color: #4f42ec;
  color: white;

  font-family: CircularStd-Medium;
  font-size: 15px;
  padding: 0.7em 1.4em;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  font-family: CircularStd-Bold;
  font-size: 12px;
  margin-bottom: 6px;
  display: block;

  text-transform: uppercase;
  color: #71717a;
}

input[type='text'],
textarea {
  font-family: CircularStd-Book;
  border: 2px solid #f4f4f5;
  border-radius: 4px;
  font-size: 16px;
  padding: 0.5em 1em;
  width: 100%;
  line-height: 200%;
}

textarea {
  height: 150px;
  resize: none;
}

input[type='text']:focus,
textarea:focus {
  outline: none;
  border: 2px solid #4f42ec;
}

.navbar {
  width: 100vw;
  height: 70px;

  background-color: white;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  z-index: 1;
}

.navleft {
  font-family: CircularStd-Black;
  font-size: 40px;

  color: #4f42ec;
}

.navright {
  display: flex;
  align-items: center;
  gap: 40px;

  font-family: CircularStd-Bold;
  font-size: 16px;
}

.body {
  width: 100vw;
  min-height: calc(100vh - 70px);

  background-color: #f9fafb;

  margin-top: 70px;
}

.content {
  width: 50vw;
  margin: 0 auto;

  padding-top: 30px;
}

.header {
  font-family: CircularStd-Bold;
  font-size: 30px;
}

.subtext {
  font-family: CircularStd-Medium;
  font-size: 14px;

  color: #71717a;
  margin-top: 10px;

  display: flex;
  gap: 10px;
}

.header-container {
  position: relative;
  margin-bottom: 30px;
}

.header-container button {
  position: absolute;

  top: 0;
  right: 0;
}

.articles {
  width: 100%;
  background-color: white;
  border-radius: 4px;
}

.articles-label {
  padding: 15px 30px;
  text-transform: uppercase;
  color: #71717a;
  font-size: 11px;
  font-family: CircularStd-Medium;
}

.article {
  padding: 15px 30px;
  border-top: 1px solid #f4f4f5;

  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;

  font-family: CircularStd-Bold;
}

.article p {
  font-size: 16px;
}

.article a {
  text-transform: uppercase;
  color: #4f42ec;
  font-size: 12px;
}

.back {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: CircularStd-Bold;
  color: #71717a;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.back:hover {
  color: #4f42ec;
}

.back span {
  font-size: 18px;
  font-weight: bold;
}

.edit {
  text-transform: uppercase;
  font-size: 14px;
  font-family: CircularStd-Bold;
  color: #4f42ec;
}

.delete {
  text-transform: uppercase;
  font-size: 14px;
  font-family: CircularStd-Bold;
  color: #d43f3f;
}

.show-footer {
  display: flex;
  gap: 20px;
}

.article-body {
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: CircularStd-Book;
  font-size: 16px;
  line-height: 200%;
}

.card {
  background-color: white;
  border-radius: 4px;
  padding: 30px;
}

.spacing {
  height: 30px;
}

.error {
  color: #d43f3f;
  font-family: CircularStd-Book;
  margin-top: 4px;
  font-size: 12px;
}

.comments .header {
  font-size: 22px;
}

.comments textarea {
  height: 100px;
}

.comment {
  padding: 15px 0px;
  display: flex;
  border-top: 1px solid #f4f4f5;
  position: relative;

  display: grid;
  grid-template-columns: 0.5fr 8fr 1fr;
}

.profile {
  background-color: #4f42ec;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 15px;
}

.name {
  font-family: CircularStd-Bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.comment-body {
  font-family: CircularStd-Book;
  font-size: 14px;
  line-height: 200%;
}

.comment .delete {
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 15px;
}

pre {
  width: 100%;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  font-family: inherit;
  margin: none;
}
